//typography
$font-display: 1.5rem;

//bp
$mobile-md: 375px;
$mobile-lg: 425px;
$tablet: 768px;
$laptop-md: 1024px;
$laptop-lg: 1440px;

//
$bg-clip: polygon(0 0, 70vw 0, 100vw 15vh, 100vw 95vh, 90vw 95vh, 0 75vh);
